ReseauManager/NetworkClient/Connected Services/NetworkRef/NetworkService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetworkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetworkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNetworkAdapterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkAdapterInfo" nillable="true" type="tns:NetworkAdapterInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkAdapterInfo" nillable="true" type="tns:ArrayOfNetworkAdapterInfo" />
  <xs:complexType name="NetworkAdapterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkAdapterInfo" nillable="true" type="tns:NetworkAdapterInfo" />
</xs:schema>